@import url("https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";

@theme {
  --font-Orbitron: "Stalinist One", sans-serif;
  --font-Bebas: "Bebas Neue", sans-serif;
  --font-Sans: "Open Sans", sans-serif;

  --color-yellowLight: #fff0b3;
  --color-blueLight: #78bbe9;
  --color-gold: #f7bc00;
  --color-blue: #025a99;
  --color-chitu: #ffffff;
  --color-kalu: #000000;
}

button {
  transition: transform 0.2s ease-in-out;
}

::selection {
  background: white;
  color: black;
}

::-moz-selection {
  background: black;
  color: white;
}
